.Navbar {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.link {
    padding: 0rem 2rem;
}